@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

@layer base {
  h1 {
    @apply font-NewYork text-[40px] font-bold md:text-[80px];
  }

  h2 {
    @apply font-NewYork text-[53px] leading-tight;
  }

  h3 {
    @apply font-NewYork text-[32px];
  }

  h4 {
    @apply font-NewYork text-[26px] leading-tight;
  }

  p,
  li {
    @apply font-Inter text-[16px];
  }

  a {
    @apply font-Inter;
  }

  button {
    /* Disables tap highlight color on Chrome */
    -webkit-tap-highlight-color: transparent;
  }

  @font-face {
    font-family: "NewYorkExtraLarge";
    src: url("/fonts/NewYorkExtraLargeRegular.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
}

@layer components {
  .fancy-underline {
    position: relative;
    z-index: 1;
  }

  .fancy-underline::before {
    content: "";
    @apply absolute bottom-0 left-0 -z-10 h-[4px] w-full bg-blue-400;
  }

  .fancy-underline.--thin::before {
    @apply h-[2px];
  }
  /* ... */
}
